<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Walk</title>
    <link rel="stylesheet" href="static/style.css">
  


</head>

<body> 
    <form action="uic">
        <button type="submit">uic</button>
    <form>

    <h3>{{text}}</h3>
   
    <!-- <script>
        document.getElementById("result").innerHTML;

    </script>

    <button onclick="stopTextColor();">Stop</button> -->
 
</body>

</html>
